extends layout

block javascripts
  script(src='/js/lib/qr-scanner.umd.min.js')
  script(src='/js/lib/jquery-editable-select.js')
  script(src='/socket.io/socket.io.js')

block stylesheets
   link(href='/css/lib/jquery-editable-select.min.css', rel='stylesheet')

block content
  .modal.fade#cameraModal(tabindex=-1, aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h5.modal-title Scanner
          button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
        .modal-body
          video#camera(width='100%')

  .container
    .card
      .card-header
        h2#balance.card-text= formatter.format(Number(account.available_amount))
      .card-body
        ul#sendReceiveTabs.nav.nav-underline(role='tablist')
          li.nav-item(role='presentation')
            button#chatTab.nav-link.active(data-bs-toggle='tab', data-bs-target='#chatTabPane', type='button', role='tab', aria-controls='chatTabPane', aria-selected='true') Chat
          li.nav-item(role='presentation')
            button#sendTab.nav-link(data-bs-toggle='tab', data-bs-target='#sendTabPane', type='button', role='tab', aria-controls='sendTabPane', aria-selected='false') Send
          li.nav-item(role='presentation')
            button#receiveTab.nav-link(data-bs-toggle='tab', data-bs-target='#receiveTabPane', type='button', role='tab', aria-controls='receiveTabPane', aria-selected='false') Receive
        .tab-content#sendReceiveTabContent
          #chatTabPane.tab-pane.show.active(role='tabpanel', aria-labelledby='chatTab', tabindex=0)
            .row
              .col.d-none.d-md-block.col-12.col-md-4
                ul.list-group
                  a.list-group-item.list-group-item-action(type='button', aria-current='true') New Chat
                  a.list-group-item.list-group-item-action.active(href='#', aria-current='true') Taylor
                  a.list-group-item.list-group-item-action(type='button') Rowan 
                    span.badge.text-bg-primary.rounded-pill 2
                  a.list-group-item.list-group-item-action(type='button') Caroline
              .col.d-block.d-md-none.col-12.col-md-8
                select.form-select(aria-label='Users')
                  option New Chat
                  option Rowan
                  option(selected) Taylor
                  option Caroline
              .col.col-12.col-md-8
                iframe#chat.form-control(scrolling='yes')
                ul#messageMoneyTabs.nav.nav-underline
                  li.nav-item(role='presentation')
                    button#messageTab.nav-link.active(data-bs-toggle='tab', data-bs-target='#messageTabPane', type='button', role='tab', aria-controls='messageTabPane', aria-selected='true') Message
                  li.nav-item(role='presentation')
                    button#moneyTab.nav-link(data-bs-toggle='tab', data-bs-target='#moneyTabPane', type='button', role='tab', aria-controls='moneyTabPane', aria-selected='false') Money
                .tab-content#messageMoneyContent
                  #messageTabPane.tab-pane.show.active(role='tabpanel', aria-labelledby='messageTab', tabindex=0)
                    .input-group
                      input#messageInput.form-control(type='text', aria-label='Message', aria-describedby='message')
                      button#messageButton.btn.btn-primary(type='button') Send &gt;&gt;
                  #moneyTabPane.tab-pane(role='tabpanel', aria-labelledby='moneyTab', tabindex=0)
                    .input-group
                      span.input-group-text Send
                      select.form-select(aria-label='Users')
                        option New User
                        option Rowan
                        option(selected) Taylor
                        option Caroline
                      span.input-group-text $
                      input#messageInput.form-control(type='number', placeholder='0.00', aria-label='Money', aria-describedby='money')
                      button#messageButton.btn.btn-primary(type='button') Pay &gt;&gt;

          #sendTabPane.tab-pane(role='tabpanel', aria-labelledby='sendTab', tabindex=0)
            form(method='POST', action='/send').mt-3
              input(type='hidden', name='from', value=account.id)
              .mb-3
                label.form-label(for='amountInput') Amount
                .input-group.input-group-lg
                  span.input-group-text $
                  input#amountInput.form-control.form-control-lg(type='text', name='amount', aria-label='Amount')
              .mb-3
                label.form-label(for='toInput') To
                .input-group.input-group-lg
                  select.form-select.form-select-lg#to(name='to')
                    option
                    each user in users
                      option(value=user.id)= user.name
                  span.input-group-text
                    img(src='/img/camera.svg', width=32, height=32, data-bs-toggle='modal', data-bs-target='#cameraModal')
              .mb-3
                label.form-label(for='messageTextarea') Message
                textarea#messageTextarea.form-control.form-control-lg(name='message', rows=3, aria-label='Message')
              .d-flex.justify-content-end
                button.btn.btn-primary(type='submit') Send &gt;&gt;

          #receiveTabPane.tab-pane(role='tabpanel', aria-labelledby='receiveTab', tabindex=0)
            .d-flex.justify-content-center
              img#receiveImg.img-fluid(src='/qrcode/' + account.id + '.svg')
            .d-flex.justify-content-center
              .input-group
                input#receiveText.form-control(type='text', value=account.id, style='text-align: center;')
                span#receiveCopyButton.input-group-text
                  img#receiveCopyImage(src='/img/copy.svg', width=24, height=24)

  script.
    const chat = document.getElementById('chat');
    const message = document.getElementById('message');

    const usdFormatter = new Intl.NumberFormat('en-US', {
      style: 'currency',
      currency: 'USD',
      maximumFractionDigits: 2
    });

    chat.contentDocument.body.innerHTML =
      '<!DOCTYPE html>' +
      '<html lang="en">' +
      ' <head>' +
      '  <meta charset="utf-8">' +
      '  <meta name="viewport" content="width=device-width, initial-scale=1">' +
      '  <link href="/css/lib/bootstrap.min.css" rel="stylesheet">' +
      ' </head>' +
      ' <body>' +
      '  <table id="chatTable" class="table table-sm table-hover table-borderless">' +
      '  </table>' +
      ' </body>' +
      '</html>';

    $(window).on('resize', () => {
      chat.scrollTop = chat.scrollHeight;

    });

    $(() => {
      const socket = io();

      socket.on('#{account.id}', (msg) => {
        $.getJSON('/api/v1/accounts.json', (data) => {
          if (data && data[0] && data[0].id == '#{account.id}') {
            $('#balance').text(usdFormatter.format(Number(data[0].available_amount)));

          }

        });

      });

      socket.on('connect', () => {
        socket.emit('sub', '#{account.id}');
        console.log('subscribed to #{account.id}');

      });

      // camera qr scanner modal
      const cameraModal = document.getElementById('cameraModal');
      const qrScanner = new QrScanner(camera, result => {
        $('#to').val(result.data);
        $('#to').trigger('change');
        $('#cameraModal').modal('hide');
      }, {returnDetailedScanResult: false});
      cameraModal.addEventListener('show.bs.modal', event => qrScanner.start());
      cameraModal.addEventListener('hide.bs.modal', event => qrScanner.stop());

      // enable tooltips
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

      // make send address editable
      $('#to').editableSelect();

      // receive address copier
      $('#receiveCopyButton').on('click', () => {
        const field = document.getElementById('receiveText');
        field.select();
        field.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(field.value);
        field.setSelectionRange(0, 0);
        $('#receiveCopyImage').attr('src', '/img/clipboard-check.svg');

      });

      $(window).resize(function() {
        const height = $(window).height() -
            Math.ceil($('#navbar').height()) -
            Math.ceil($('#footer').height()) -
            350;
        $('#chat').height( height < 300 ? 300 : height);

      }).resize();
      $('#chat').scrollTop($('#chat')[0].scrollHeight);

    });
